## Question 1

In [2]:
def f1_score(TP,FP,FN):
    precision=(TP/(TP+FP))
    recall=(TP/(TP+FN))
    f1score=(2*(precision * recall)/(precision + recall))
    f1score=round(f1score,4)
    return f1score

f1_score(355,1480,45)

0.3177

In [3]:
import random,os
import pandas as pd, numpy as np, scipy.stats as stat
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import lightgbm

In [4]:
df=pd.read_csv('data.csv')
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [5]:
df=df.drop(['stab'],1)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [6]:
df['stabf'].replace('unstable',0,inplace=True)
df['stabf'].replace('stable',1,inplace=True)
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,1
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0

In [7]:
X=np.array(df.drop(['stabf'],1))
y=np.array(df['stabf'])

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_normalized = scaler.transform(X_train)
X_test_normalized = scaler.transform(X_test)

In [10]:
#Random Forest Classifier
from sklearn.metrics import accuracy_score
R=RandomForestClassifier(random_state=1,n_estimators=100).fit(X_train_normalized,y_train)
pred=R.predict(X_test_normalized)
rf=accuracy_score(y_test,pred)
rf.round(4)

0.9295

In [53]:
from xgboost import XGBClassifier
X=XGBClassifier(random_state=1).fit(X_train_normalized,y_train)
pred=X.predict(X_test_normalized)
xf=accuracy_score(y_test,pred)
xf.round(4)

0.9455

In [54]:
from lightgbm import LGBMClassifier
L=LGBMClassifier(random_state=1).fit(X_train_normalized,y_train)
pred=L.predict(X_test_normalized)
lf=accuracy_score(y_test,pred)
lf.round(4)

0.9375

In [58]:
from sklearn.ensemble import ExtraTreesClassifier
ex=ExtraTreesClassifier(random_state=1).fit(X_train_normalized,y_train)
pred=ex.predict(X_test_normalized)
from sklearn.metrics import classification_report
print (classification_report(y_test,pred,digits=4))
#0 IS UNSTABLE AND 1 IS STABLE

              precision    recall  f1-score   support

           0     0.8656    0.9550    0.9081      1288
           1     0.8998    0.7317    0.8071       712

    accuracy                         0.8755      2000
   macro avg     0.8827    0.8434    0.8576      2000
weighted avg     0.8778    0.8755    0.8721      2000

C:\Users\USER\Anaconda3new\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [60]:
Extra = ExtraTreesClassifier(random_state=1)
n_estimators = [50, 100, 300, 500, 1000]

min_samples_split = [2, 3, 5, 7, 9]

min_samples_leaf = [1, 2, 4, 6, 8]

max_features = ['auto', 'sqrt', 'log2', None]


Parameters = {'n_estimators': n_estimators,

                       'min_samples_leaf': min_samples_leaf,

                       'min_samples_split': min_samples_split,

                       'max_features': max_features}

In [64]:
from sklearn.model_selection import RandomizedSearchCV
mymodel=RandomizedSearchCV(Extra,Parameters, random_state = 1,cv=5,verbose=1,scoring = 'accuracy', n_jobs=-1, n_iter = 10).fit(X_train_normalized,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  1.8min finished

In [65]:
mymodel.best_params_

{'n_estimators': 1000,
 'min_samples_split': 2,
 'min_samples_leaf': 8,
 'max_features': None}

In [72]:
ExtraTrees=ExtraTreesClassifier(random_state=1,n_estimators=1000,min_samples_split=2,min_samples_leaf=8,max_features=None)
ExtraTrees.fit(X_train_normalized,y_train)
pred=ExtraTrees.predict(X_test_normalized)
print (accuracy_score(y_test,pred))

0.927

In [78]:
ExtraTrees2=ExtraTreesClassifier(random_state=1,n_estimators=100)
ExtraTrees2.fit(X_train_normalized,y_train)
pred2=ExtraTrees2.predict(X_test_normalized)
print (accuracy_score(y_test,pred2))

0.9285

In [76]:
usefulfeatures = ExtraTrees2.feature_importances_
print (df.columns)
usefulfeatures #tau2 is the highest and p1 is the lowest

Index(['tau1', 'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2',
       'g3', 'g4', 'stabf'],
      dtype='object')

array([0.11739736, 0.11844468, 0.11316851, 0.11546569, 0.03950675,
       0.04037132, 0.04070628, 0.04057864, 0.08978291, 0.09367636,
       0.09688268, 0.09401882])